<div class="container">
    <flash-message></flash-message>
    <br>
    <!--    <div class="panel col-lg-3"></div>-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>{{labels.signup}}</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="col-md-12">
                        <label class="control-label" for="firstName" ng-bind="labels.firstName"></label>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="firstName" ng-model="user.firstName"
                               placeholder="{{labels.firstName}}"
                               type="text">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-md-12">
                        <label class="control-label" for="lastName" ng-bind="labels.lastName"></label>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="lastName" ng-model="user.lastName"
                               placeholder="{{labels.lastName}}"
                               type="text">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-md-12">
                        <label class="control-label" for="username" ng-bind="labels.username"></label>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="username" ng-model="user.username"
                               placeholder="{{labels.username}}"
                               type="text">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-md-12">
                        <label class="control-label" for="email" ng-bind="labels.email"></label>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="email" ng-model="user.email"
                               placeholder="{{labels.email}}"
                               type="email">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-md-12">
                        <label class="control-label" for="phoneNumber" ng-bind="labels.phoneNumber"></label>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="phoneNumber" ng-model="user.phoneNumber"
                               placeholder="{{labels.phoneNumber}}"
                               type="number">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-md-12">
                        <label class="control-label" for="password" ng-bind="labels.password"></label>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="password" ng-model="user.password"
                               placeholder="{{labels.password}}"
                               type="text">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-md-12">
                        <label class="control-label" for="confirmPassword" ng-bind="labels.confirmPassword"></label>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="confirmPassword" ng-model="user.confirmPassword"
                               placeholder="{{labels.confirmPassword}}"
                               type="text">
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="row" style="margin-right: 10px">
                    <button class="btn btn-primary pull-right" ng-click="signup()" type="button">{{labels.signup}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="panel col-lg-3"></div>-->
</div>

<hr>
